.custom-checkbox__input:checked+.custom-checkbox__toggle svg {
    opacity: 1;
}

.custom-checkbox__toggle {
    padding: 0 0 0 40px;
    position: relative;
    cursor: pointer;


}


.custom-checkbox__toggle svg {
    position: absolute;
    top: 25%;
    left: 5px;
    opacity: 0;
}

.custom-checkbox__toggle::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #acb5bd;
    border-radius: 4px;
    width: 20px;
    height: 20px;
}

input[type=checkbox]:checked+.custom-checkbox__toggle::before {
    border: 1px solid #1919ef;
    border-radius: 4px;
}

.custom-input--error {
    background-color: #c31f1f;
}

.custom-checkbox__input:checked+.custom-checkbox__toggle svg {
    opacity: 1;
}

.custom-checkbox__toggle {
    padding: 0 0 0 40px;
    position: relative;
    cursor: pointer;
    display: flex;

}


.custom-checkbox__toggle svg {
    position: absolute;
    top: 12%;
    left: 4px;
    opacity: 0;
    color: blue;
}

.custom-checkbox__toggle::before {
    content: "";
    position: absolute;
    left: 0;
    top: 27%;
    transform: translateY(-50%);
    border: 1px solid #acb5bd;
    border-radius: 4px;
    width: 20px;
    height: 20px;
}