.custom-input {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.custom-input__field {
  outline: none;
  border: none;
  font-family: inherit;
  padding: 0 32px 12px 0;
  font-size: 18px;
  line-height: 1.2;
  border-bottom: 1px solid #CACACA;
  cursor: pointer;
  width: 100%;
}

.custom-input__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #1919ef;
  margin-bottom: 4px;
  cursor: pointer;
}

.custom-input__field::placeholder {
  color: #9B9B9B;
}

.custom-input__icon {
  position: absolute;
  right: 0;
  top: 20px;
  pointer-events: none;
}

.custom-input-top {
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin-bottom: 60px;
}

.custom-input__field--bottom {
  padding-bottom: 79px;
}

.custom-radio {
  position: relative;
  width: 500px;
}

.custom-input__field-bottom {
  padding-bottom: 60px;
}

.custom-radio__field:checked+.custom-radio__label::before {
  background-color: #1919EF;
}


.custom-radio__label {
  padding: 10px 25px 10px 41px;
  border: 2px solid #475009;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  cursor: pointer;
}


.custom-radio__label:hover .custom-radio__top,
.custom-radio__label:hover .custom-radio__text {
  color: rgba(0, 0, 0, 0.7);
}

.custom-radio__label::before {
  content: "";
  height: 20px;
  width: 20px;
  border: 1px solid #ACB5BD;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
}

.custom-radio__label::after {
  content: "";
  height: 8px;
  width: 8px;
  background-color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 6px;

}

.custom-radio__top {
  display: flex;

  flex-direction: column;

}

.custom-radio__text {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.custom-input__field--fio {
  width: 560px;
}

.custom-input__field-fio {
  margin-bottom: 40px;
}

.custom-input-fio {
  margin-bottom: 40px;
}

.answer {
  padding: 0;
  margin: 0;
  border: none;
  display: grid;
  gap: 13px;
  margin-bottom: 40px;
}

.agreement__buttton {
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  background-color: unset;
  color: rgba(25, 25, 239, 0.4);
  border: 1px solid rgba(25, 25, 239, 0.4);
  border-radius: 60px;
  width: 166px;
  height: 40px;
  cursor: pointer;
}

.arrow {
  border: none;
  display: flex;
  position: fixed;
  background-color: #F6F6F6;
  display: block;
  width: 60px;
  height: 60px;
  padding: 18px;
  border-radius: 100%;

  right: 160px;
  top: 230px;

}

.agreement {
  display: grid;
  grid-template-columns: 474px 1fr 1fr;
}

.agreement__checkbox {
  padding-top: 48px;
}

.agreement__btn {
  padding: 147px 0px 39px 43px;

}